

body {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 1.0625rem;
    line-height: 1.7;
    color: rgb(92, 92, 92);
}

.logotext{
    font-family:"Staatliches", sans-serif;
    font-weight:400;
    font-size: 1.5rem;
    color: #0061B5;
}


.heroheadertxt{
    font-family:"Staatliches", sans-serif;
    font-weight:400;

    color: #737373;
}


.navShortIntro{
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    line-height:0;
    color:#242424;
    border-bottom: 10px;
}

.blogIntro{
	font-family: "Manrope", sans-serif;
	font-size: 20px;
	line-height: 1.7;
}


.navbar-light .navbar-brand {
    color: #0061B5;
}

.bgabout{

    background-color: #f5f5f5;
    padding: 25px;
}

.imgme{
    border-top-right-radius: 28px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Staatliches", serif;
    color: #666;
    font-weight: 400; 
}

.topheaderfill{

    background-color: #038094;
    height: 7px;
}



.footerfill{

    background-color: #038094;
}


.navbar-expand-lg .navbar-nav .nav-link {
    font-family:"Staatliches", sans-serif;
    font-weight:400;
    font-size: 1.50rem;
    color: #636060;
}


.navbar-light .navbar-nav a.nav-link.active {
    color:#242424;

}

.navbar-light .navbar-nav a.nav-link span.active {
    color:#242424;

}


.navbar-light .navbar-nav a.nav-link.active span {
    display:inline-block;
    border-top: 4px solid #0061B5;
    
}

.navbar-light .navbar-nav a.nav-link span.active {
    display:inline-block;
    border-top: 4px solid #0061B5;
    line-height: 1.3;
    
}


.heroImage {
    background-image: url(../images/img1.png);
    background-color: #fff;
    height: 620px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 4s
  }


.myskill_bg, .mywork_bg, .courses_bg {
    /* background-image: url(../images/pattern1.png); */
    background-color: #e4f5fc;
    height: 160px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



.index-neg{
    position:relative;

}

.margin-top-neg1{
    position: relative;
    margin-top: -62px;
 
}

.margin-top-neg2{
    position: relative;
    margin-top: 20px;
}

.font-70 {
    font-size: 4.375rem;
}

.font-50{
    font-size: 3.125rem;
}

.font-40{
    font-size: 2.5rem;
}

.font-30{
    font-size: 1.875rem;
}


.font-24{
    font-size: 1.5rem
}

.font-weight600{

    font-weight:600;
}

.font-weight500{

    font-weight:500;
}

.font-weight400{

    font-weight:400;
}

a.emailContact{
    color:#525252;
}

.btn-resume {
    background-color: #125BC8;
    color: #fff;
    font-size: .85em !important;
    border-radius: 6px;
    font-weight: bold;
}

.colorWhite{
    color: #fff;
}

.contdisplayblock{
    display:block;
}

.contdisplaynone{
    display:none;
}

.graybg{
    background-color: #f7f7f7;
}

.links{
    text-decoration: none;
    color: #125bc8;
}

.img-thumbnail{

    padding: 20px;

}


.lighterblue{
    background-color: #eaf8fd;
}

.nda{
    padding: 6px;
    background-color: #FCE9B3;
    text-align: center;
    font-size: 1rem;
}

.btn-secondary {
    background-color: #EEF3FB;
    color: #125BC8;
    border: 1px solid #125BC8;
    font-weight: 600;
    padding: 10px 20px;
    font-size: .85em !important;
}


.bg-light{
    background-color: #fff !important;
    opacity: 0.9;
}

.offcanvas-header .btn-close {
    padding: 1.5rem 1.5rem;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #043942;
    color: white;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 80%;
    box-shadow: -3px 4px 5px 0px rgba(255,255,255,0.28);
    -webkit-box-shadow: -3px 4px 5px 0px rgba(255,255,255,0.28);
    -moz-box-shadow: -3px 4px 5px 0px rgba(255,255,255,0.28);
}

#myBtn:hover {

    background-color: #017588;

}

div#footermenu ul.dropdown-menu{

    width: 96%;
    text-align: center;
    line-height: 2rem;
}


.navbar{

    border-bottom: 1px solid #e2e2e2;
}



.nav-tabs .nav-link.active {
  color: #00879d;
  background-color: transparent;
  border-color: #dee2e6 #dee2e6 #fafafa;
	
	border: 0;
	
    border-bottom-color: rgb(250, 250, 250);
  border-bottom: 2px solid #00879d;
}



.nav-link:focus, .nav-link:hover {
  text-decoration: none;
}


.nav-link:hover {
  border: 0 
}

.nav-tabs .nav-link{
	
	color: #909090;
	margin: 0 15px;
	padding:0 0 5px 0;
}


.noPadding{
    padding:0;
}

main {

    display: flex;
    flex-wrap: nowrap;
    height: 43vh;
    height: -webkit-fill-available;
    min-height: 43vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.list_header_text{

    background-color:#789aae;
    color: #fff;

}

.list-group-item.active {
    z-index: 2;
    color: #525252;
    background-color: #e0edf5;
    border-color:#a9b5bd;
}


.nav-link {
    transition: none;
}


.btn-secondary:hover {
    color:#3800bb;
    background-color: #f6f9ff!important;
    border: 1px solid #125BC8!important;
   }


.arrow_bg{
    color: #000;
    display:inline-block;
    width: 75px;
    height: 75px;
}


.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}


.pattern1{
    background-image: url(../images/pattern1.png);
    background-color: #eaf8fd;
    background-position: top center;
    background-repeat:repeat-x;
    background-size: cover;
    position: relative;
}


.noPattern{
    background-image:none;
}

.font-weight-bold{
    font-weight: bold;
}


.btn-outline-secondary {
    border-radius: 1.2rem;
    padding: 5px 20px;
}


.display-8{
    color:#0061B5;
    font-size: 1.3rem;
    margin-bottom: 0;
}

.display-9{
    background-color:#f7f7ff;
}





/* url(../images/pattern1.png) */

.paypalLogo, .wiproLogo, .mphasisLogo, .capstoneLogo{

    
    background-color: #E4F5FC;
    background-position:1300px 14px, top center;
    background-repeat: no-repeat, repeat-x;
    background-size: 236px 86px, 1920px 301px;
    position: relative;
}

.wiproLogo{
   
    background-size: 240px 155px, 1920px 301px;
    background-position:1300px -18px, top center;
}

.mphasisLogo{
    
    background-size: 271px 114px, 1920px 301px;
    background-position:1300px 6px, top center;
}

.capstoneLogo{

    background-image: url(../images/Capstone_logo.png);
    background-size: 230px 37px, 1920px 301px;
    background-position:1300px 40px, top center;
}

.artbg{
    
    background-color: #eaf8fd;
}

.paddingLeft{
    padding-left: 0 !important;
}

.paddingRight{
    padding-right: 0 !important;
}


div.scrollparent{

    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
}

div.scrollparent aside{
    flex: 1 1 auto;
    overflow-y: auto;
    height: 0px;
    padding-left: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}


.videoBorder{

    border-bottom: 1px solid #B0C8DA;
}

.borderTop{

    border-top: 1px solid #B0C8DA;

}


.list-group-item.activeLi {
    z-index: 2;
    color: #525252;
    background-color: #e0edf5;
    border-color: #a9b5bd;
  }


  .rowart{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .columnart {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .columnart img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  

  .galleryBtn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }
  
  .galleryBtn:hover {
    background-color: #ddd;
  }
  
  .galleryBtn.activebtn {
    background-color: #666;
    color: white;
  }

  .birthday{
      background-color: #cc00ff;
  }

/*Lavender, purple, sea blue and yellow*/


  .labs{
      background-color:#bcced2;
  }

  .labs1{
    background-color:#efefef;
}

.border1{
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.border2{
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}


div.labs1 a:link {
    color: #032a79;
  }

  div.labs1 a:visited {
    color: #032a79;
  }

  div.labs1 a:hover {
    color: #1162AD
  }

.darkblue{

        background-color: #1162AD;

}

.shade{
    box-shadow: 1px 5px 8px rgb(216, 216, 216);
}


.myDiv{
	display:none;
} 


.cardbg1{
    background-color: #FFEDED;
}

.cardbg2{
    background-color: #E6F4FF;
}

.cardbg3{
    background-color: #FFF0E5;
}

.card {
    border: 0 !important;
}

a.link-dark {
    text-decoration:none !important;
  }


  .card{
    transition: transform .2s;
    transition: .5s ease;
}


.card-overlay{
    background-color: #E6F4FF;
    position:absolute;
    top:0;
    left:0;
    color:#032a79;
    font-size: 1rem;
    width: 100%;
    opacity: .95;
    border-radius: .375rem;
}


.preview{
    background-color: #ffffff;
    color: #125BC8;
    border: 1px solid #125BC8;
    font-weight: 600;
    padding: 10px 20px;
    font-size: .85em !important;
    border-radius: 0.375rem;
    position:absolute;
    top: 50%;
    left: 25%;
    opacity: 1;
}

.card-overlay{
    display: none;
}


/*.card:hover .card-overlay{
    display: block;
}

.card:hover{
    -ms-transform: scale(1.05); 
    -webkit-transform: scale(1.05); 
    transform: scale(1.1); 
    
  }*/



/* ---------------------------media queries -----------------------------*/


  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .columnart {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .columnart {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;

    }

    body {
        font-size: .95rem;
    }

}


@media (min-width: 0) and (max-width: 575.98px) {

    body {
        font-size: .95rem;
    }

    .font-70 {
        font-size: 2rem;
    }
    
    .font-50{
        font-size: 1.5rem;
    }
    
    .font-40{
        font-size: 1.5rem;
    }
    
    .font-30{
        font-size: 1.1rem;
    }
    
    .font-24{
        font-size: 1.1rem;
    }

    .contdisplayblock{
        display:none;
    }
    
    .contdisplaynone{
        display:block;
    }



    .img-fluid-reduce {
            width: 28%;
            height: 14%;
    }


    .heroImage {
        background-image: url(../images/img2.png);
        height: 500px;
      }


    .btn-secondary, .btn-light{
        width: 100%;
        display: block;
    }
    
    .paddingLeft{
        padding-left: 10px !important;
    }
    
    .paddingRight{
        padding-right: 10px !important;
    }

    div.scrollparent aside{
        height: 40vh;
        padding-left: 10px;
    }

    
}


@media (min-width: 575.98px) and (max-width: 767.98px){ 
    

    body {
        font-size: .95rem;
    }

    .font-70 {
        font-size: 2rem;
    }
    
    .font-50{
        font-size: 1.5rem;
    }
    
    .font-40{
        font-size: 1.5rem;
    }
    
    .font-30{
        font-size: 1.1rem;
    }

    body {
        font-size: 1.1rem;
    }
    
    .font-24{
        font-size: 1.1rem;
    }

    .contdisplayblock{
        display:none;
    }
    
    .contdisplaynone{
        display:block;
    }



    .img-fluid-reduce{
            width: 28%;
            height: 14%;
    }

    .btn-secondary, .btn-light{
        width: 100%;
        display: block;
    }


    .heroImage{
        background-image: url(../images/img2.png);
        height: 500px;
      }

      .paddingLeft{
        padding-left: 10px !important;
    }
    
    .paddingRight{
        padding-right: 10px !important;
    }

    div.scrollparent aside{
        height: 40vh;
        padding-left: 10px;
    }

}


/* `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) and (max-width: 991.98px) { 

    .font-70 {
        font-size: 3rem;
    }
    
    .font-50{
        font-size: 2.5rem;
    }
    
    .font-40{
        font-size: 1.8755rem;
    }
    
    .font-30{
        font-size: 1.5rem;
    }
    
    .font-24{
        font-size: 1.1rem;
    }

    .font-subheading{
        font-size: 1.5rem;
    }

    .contdisplayblock{
        display:none;
    }
    
    .contdisplaynone{
        display:block;
    }



    .img-fluid-reduce{
            width: 28%;
            height: 14%;
    }


    .heroImage{
        background-image: url(../images/img3.png);
        height: 600px;
      }

      .btn-secondary, .btn-light{
        width: 100%;
        display: block;
    }

    .contdisplaynone{
        display:block;
    }



    .btn-secondary, .btn-light{
        width: 100%;
        display: block;
    }

    .paddingLeft{
        padding-left: 0 !important;
    }
    
    .paddingRight{
        padding-right: 10px !important;
    }


    div.scrollparent aside{
        height: 40vh;
        padding-left: 10px;
    }

 }


@media (min-width: 991.98px) and (max-width: 1199.98px) { 
    
    .heroImage{
        background-image: url(../images/hero_img3.png);
      }


      .contdisplayblock{
        display:none;
    }
    
    .contdisplaynone{
        display:block;
    }

    .bg-light{
        background-color: transparent ;
    }

    .btn-secondary, .btn-light{
        width: 100%;
        display: block;
    }


}


@media (min-width: 1199.98px) and (max-width: 1399.98px) {
    




    .btn-secondary, .btn-light{
        width: 100%;
        display: block;
    }



 }




 @media (min-width: 1399.98px) and (max-width: 1919.98px) {
    




    .btn-secondary, .btn-light{
        width: 100%;
        display: block;
    }



 }

 @media (min-width: 1919.98px) {

    

 }





 @media (max-width: 767.98px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 767.98px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}
