* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.7em;
  background-color: #fafafa;
  color: #4b4b4b;
}

html {
  scroll-behavior: smooth;
}

.nav-tabs .nav-link.active {
  color: #00879d;
  background-color: transparent;
  border-color: #dee2e6 #dee2e6 #fafafa;
  border-bottom: 3px solid #00879d;
}

.navbar-dark .navbar-toggler {
  border: 2px solid #fff;
  border-color: rgba(255, 255, 255, 0.5);
  margin: 10px;
}

.nav-tabs .nav-item {
  margin-bottom: 0;
}

.nav-tabs .nav-link {
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.breadcrumb {
  background: rgba(255, 255, 255, 0);
  border-radius: 0;
}

.breadcrumbBg {
  background: #c9deea url("../images/gradient_bg2.jpg") no-repeat 50% 20%;
  background-size: cover;
  padding-bottom: 120px;
  margin-bottom: 0;
}

.breadcrumb-item.active {
  color: #434f5a;
}

a {
  color: #00879d;
}

a:hover {
  color: #0098b1;
}

.btn-sm {
  border-radius: 10rem;
}

.underlineTxt {
  text-decoration-line: underline;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-weight: normal;
  padding: 12px 0px;
  font-size: 18px;
}

.btn-width {
  width: 40%;
}

.display-3 {
  font-size: 2.5em;
}

.display-7 {
  font-size: 2em;
}

.display-8 {
  font-size: 1.3em;
  font-weight: 500;
  color: #30a2ae;
}

.roundedCorner {
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.dropdown-header {
  padding: 1px 20px;
  color: #385668;
}

.dropdown-item {
  padding: 6px 20px;
  color: #00879d;
  font-size: 15px;
  font-weight: 500;
}

.dropdown-item:hover {
  background-color: #ebf8fb;
  color: #0098b1;
  font-weight: 500;
}

.dropdown-menu {
  min-width: 100%;
}

.bg_projects {
  background-color: #ff992c;
  padding: 20px;
  color: #fff;
}

.aligncenter {
  text-align: center;
}

.heading-brown {
  color: #014b56;
  font-size: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.header {
  font-family: "Montserrat", serif;
}

.graycolor {
  color: #656565;
}

.display-5 {
  font-size: 1.1em;
}

.display-6 {
  font-size: 1.25em;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
}

h3 {
  font-size: 1.1em;
  font-weight: normal;
}

.projectHeader {
  background-color: #eee;
  margin: 0 0 30px 0;
  color: #333;
  padding: 15px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ccc;
}

.badge {
  font-weight: normal;
}

.badge-warning {
  background-color: #fff;
  border: 2px solid #ffc107;
}

.badge-warning[href]:hover,
.badge-warning[href]:focus {
  color: #fff;
}

.badge-info {
  background-color: #fff;
  border: 2px solid #17a2b8;
  color: #000;
}

.badge-success {
  background-color: #fff;
  border: 2px solid #28a745;
  color: #000;
}

.badge-danger {
  background-color: #fff;
  border: 2px solid #dc3545;
  color: #000;
}

.badge-secondary {
  background-color: #fff;
  border: 2px solid #6c757d;
  color: #000;
}

.navbar {
  font-size: 1.25em;
  text-align: center;
  padding: 0 0;
  background-color: #03a2bc;
  color: #fff;
}

.bg-dark {
  background-color: #ececec !important;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
  border-bottom: 3px solid #fff;
  font-weight: bold;
  padding: 12px 0px;
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
  border-bottom: 3px solid #fff;
}

.marginP {
  margin-bottom: 0;
}

.jumbotron {
  margin-bottom: 0;
  padding: 0;
  height: 70%;
  background: #b1e2ea url("../images/gradient_bg2.jpg") no-repeat left top;
  background-size: cover;
}

.overlayHome {
  border-radius: 10px;
  margin-top: -90px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(250, 250, 250, 0.85);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(210, 195, 198, 0.3);
  -moz-box-shadow: 0px 0px 11px 0px rgba(210, 195, 198, 0.3);
  box-shadow: 0px 0px 11px 0px rgba(210, 195, 198, 0.3);
}

.overlayRest {
  border-radius: 10px;
  margin-top: -120px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(250, 250, 250, 0.9);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(210, 195, 198, 0.3);
  -moz-box-shadow: 0px 0px 11px 0px rgba(210, 195, 198, 0.3);
  box-shadow: 0px 0px 11px 0px rgba(210, 195, 198, 0.3);
}

.bgskills {
  background-color: #8fcdee;
  border-radius: 8px;
}

.lnheight {
  line-height: 1.5;
}

.lnheight2 {
  line-height: 1.75;
}

.linksweight {
  text-decoration: underline;
  font-weight: 700;
}

.homebg {
  background: #fbfbfb;
}

.bg0 {
  background-image: url("../images/00_ceasefire_bg.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
}

.bg1 {
  background-image: url("../images/01_IDeclare_bg.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
}

.bg2 {
  background-image: url("../images/02_uslbm_bg.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
}

.bg3 {
  background-image: url("../images/03_manpower_bg.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
}

.bg4 {
  background-image: url("../images/04_experis_bg.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
}

.bg5 {
  background-image: url("../images/05_Campaign_studio_bg.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
}

.bg6 {
  background-image: url("../images/06_Coffee_bg.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
}

.bg7 {
  background-image: url("../images/07_blog.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
}

.bg8 {
  background-image: url("../images/08_art.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
}

.bg9 {
  background-image: url("../images/09_tuts.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
}

.bg10 {
  background-image: url("../images/04_indgene_bg.png");
  background-repeat: no-repeat;
  background-color: #cccccc;
}

.bgcolor {
  color: #fff;
  font-weight: 600;
}

.bgbox {
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

.colorheader {
  color: #014b56;
  font-weight: 500;
}

.jumbo {
  height: 50%;
}

section.jumbo div.jumbotron div.container p.lead a {
  text-decoration: underline;
  color: #000;
}

.jumbotron .herotxt {
  color: #656565;
  min-height: 300px;
}

.jumbotron .herotxt1 {
  color: #656565;
  height: 400px;
}

.jumbotron h1.animated {
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}

.fontmedium {
  font-weight: 500;
}

.scrollFade {
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.lead {
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #614040;
}

.home-brand {
  font-size: 1.25em;
  color: #656565;
  margin-right: 50px;
}

.home-brand:visited,
.home-brand:hover,
.home-brand:active,
.home-brand:link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-link.active {
  font-weight: bold;
}

.hr {
  height: 1px;
  background-color: #919191;
  display: block;
  margin: 20px 0 30px;
}

.hr1 {
  height: 1px;
  background-color: #ccc;
  display: block;
  margin: 10px 0;
}

.videoimg {
  max-width: 100%;
  height: auto;
}

.btn-info,
.btn-info:hover {
  background-color: #1475dd;
  border-color: #1475dd;
  padding: 7px 12px;
  font-size: 18px;
  font-weight: normal;
  border-radius: 0;
}

/*

.btn-gradient1, .btn-info:not(:disabled):not(.disabled):active {
   
background: #1475dd; /* Old browsers 
background: -moz-linear-gradient(top, #1475dd 0%, #631dd3 100%); /* FF3.6-15 
background: -webkit-linear-gradient(top, #1475dd 0%,#631dd3 100%); /* Chrome10-25,Safari5.1-6 
background: linear-gradient(to bottom, #1475dd 0%,#631dd3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 

}

*/

.btn-primary {
  border-radius: 10em;
  background-color: #a7756a;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  height: 42px;
  line-height: 30px;
  border: none;
}

.btn-primary:hover {
  border-radius: 10em;
  background-color: #95675d;
  color: #fff;
  border: none;
}

.btn-secondary {
  border-radius: 10em;
  background: #bbe8ef;
  font-size: 1em;
  font-weight: 500;
  color: #385668;
  border: none;
  height: 42px;
  line-height: 30px;
  padding: 6px 16px;
}

.btn-secondary:hover {
  border-radius: 10em;
  background: #a6e4ee;
  font-size: 1em;
  border: none;
  color: #385668;
}

.btn-outline-info {
  border-radius: 10em;
  color: #17a2b8;
  background-color: transparent;
  font-size: 1em;
  font-weight: 500;
  border: none;
  height: 42px;
  line-height: 30px;
  padding: 6px 16px;
  border: 1px solid #17a2b8;
}

.btn-outline-info:hover {
  border-radius: 10em;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-gradient1,
.btn-info:not(:disabled):not(.disabled):active {
  background: #ff2a19;
}

.recentuts {
  color: #fff;
  min-height: 200px;
  padding: 15px;
  margin: 0;
}

.recentuts:hover {
  background-color: #648f33;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 10rem;
}

.btn-light,
.btn-light:hover {
  background-color: #1abc9c;
  margin-top: 5px;
  padding: 7px 12px;
  font-size: 18px;
  font-weight: normal;
  border-radius: 0;
  color: #fff;
}

/*

.btn-gradient2, .btn-light:not(:disabled):not(.disabled):active {

	color:#fff;

background: #21c8ce; /* Old browsers 
background: -moz-linear-gradient(top, #21c8ce 0%, #27c492 100%); /* FF3.6-15 
background: -webkit-linear-gradient(top, #21c8ce 0%,#27c492 100%); /* Chrome10-25,Safari5.1-6 
background: linear-gradient(to bottom, #21c8ce 0%,#27c492 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 

}


*/

.btn-gradient2,
.btn-light:not(:disabled):not(.disabled):active {
  color: #fff;

  background: #21c8ce; /* Old browsers */
}

.font-white {
  color: #fff;
}

.textwhite {
  color: #fff;
}

.mycolorWhite {
  background-color: #fff;
}

.mycolorGray1 {
  background-color: #e7e7e7;
}

.mycolorLightblue {
  background-color: #eef9ff;
}

.mycolorEarthdirt {
  background-color: #e29500;
}

.footerlinks {
  background-color: #42484e;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.footerCopyrights {
  color: #fff;
  background-color: #262626;
  padding: 10px 0;
  font-size: 16px;
}

.footerlinks a {
  text-decoration: none;
  color: #fff;
  font-weight: normal;
}

.valignouter {
  display: table;
  height: 150px;
  width: 100%;
}

.valignBottom {
  display: table-cell;
  vertical-align: bottom;
}

.valignTop {
  display: table-row;
  vertical-align: top;
}

.hidediv {
  display: none;
}

.showdiv {
  display: block;
}

div.alertmsg {
  background-color: #dab83f;
  margin: 20px auto;
  padding: 15px;
  text-align: center;
}

div.link > a:hover {
  text-decoration: none;
}

.arrowlink {
  background: #7faf48 url("../images/arrow_link.png") no-repeat left 15px top
    20px;
}

.lightblu {
  background-color: #e7f6f9;
}

.indegene {
  background-color: #e7f6f9;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.ceasefire {
  background-color: #e7f6f9;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.ideclare {
  background-image: url(../images/id_1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
}

.hema {
  background-color: #e7f6f9;
  background-image: url(../images/chatbot_hema.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
}

.uslbm {
  background-image: url(../images/uslbm_banner.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
}

.manpower {
  background-image: url(../images/manpower_banner.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
}

.experis {
  background-image: url(../images/experis_banner.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px;
}

.homebannercolor {
  background-color: #e7f6f9;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #00879d; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  height: 40px;
  width: 40px;
  border-radius: 80%;
}

#myBtn:hover {
  background-color: #017588; /* Add a dark-grey background on hover */
}

h1.colorheader p span.typed-text {
  font-weight: normal;
  color: #000;
}
h1.colorheader p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

h1.colorheader p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

.nda {
  background-color: #f7ce5b;
  color: #000;
  padding: 10px;
  font-weight: normal;
  text-align: center;
  font-size: 15px;
}

.valignmid {
  display: flex;
  align-items: center;
}

ol.process li {
  margin: 0 0 0 -20px;
  padding: 0;
}

/* media Query */

@media (min-width: 576px) {
  .lead {
    font-size: 1.1em;
  }
}

@media (max-width: 576px) {
  .display-3 {
    font-size: 1.75em;
  }

  .display-8 {
    font-size: 1.2em;
    font-weight: 500;
    color: #614040;
  }

  .lead {
    font-size: 1.2em;
  }

  .home-brand {
    margin-left: 15px;
  }

  .btn-secondary,
  .btn-primary {
    width: 100%;
    display: block;
  }

  .heading-brown {
    font-size: 20px;
  }

  /*

	.jumbotron {
	background: #1475DD url('../images/hero.png') no-repeat center;
}

*/

  .primebutton {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .display-3 {
    font-size: 1.75em;
  }

  .lead {
    font-size: 1.2em;
  }

  .primebutton {
    width: 100%;
  }

  .heading-brown {
    font-size: 24px;
  }

  /*

	.jumbotron {
	background: #1475DD url('../images/hero.png') no-repeat center;
}

*/
}

@media (max-width: 768px) {
}

@media (min-width: 769px) {
  /*

  	.jumbotron {
	background: #1475DD url('../images/hero_md.png') no-repeat center;

	
}

*/
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 993px) {
  /*

	.jumbotron {
	background: #1475DD url('../images/hero_lg.png') no-repeat center;
}	

*/

  .primebutton {
    width: 60%;
  }
}

@media (min-width: 992px) and (max-width: 1279.99px) {
}

@media (min-width: 1279.99px) and (max-width: 1365.99px) {
  /*

	.jumbotron {
	background: #1475DD url('../images/hero_xl.png') no-repeat center;
}

*/
}

@media (min-width: 1365.99px) and (max-width: 1499.99px) {
  /*

	.jumbotron {
	background: #1475DD url('../images/hero_xl.png') no-repeat center;
}

*/
}

@media (min-width: 1501px) and (max-width: 3000px) {
  .nav-link {
    padding: 5px 0px;
    margin: 0 15px;
    color: #385668;
  }

  .nav-link.active {
    padding: 5px 0px;
    margin: 0 15px;
  }
}
