* {
  box-sizing: border-box;
}


body{

	font-family: 'Montserrat', sans-serif; 
	font-size: 1em;
	font-weight: 400;
	line-height: 1.7em;
}


html {
  scroll-behavior: smooth;
}


.underlineTxt{
	
	text-decoration-line: underline; 
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {color:#555;}

.navbar-dark .navbar-nav .nav-link{color:#000; font-weight: bold;}


.btn-width{
	
	width: 40%;	
}


.display-3 {
	
	font-size:2.5em;
}

.display-7 {
	
	font-size:2em;
	font-weight: bold;
}


.display-8 {
	
	font-size:1.75em;
	font-weight: bold;
}


.roundedCorner {
	
	border-radius: 6px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	
}


.dropdown-item:hover{
	background-color: #eee;
}


.bg_projects {
	
	background-color: #FF992C;
	padding: 20px;
	color:#fff;
}



.aligncenter{
    text-align: center;    
}


.heading-brown {
	color: #954D00;
	font-size: 1.5em;
}


h1, h2, h3, h4, h5, h6, .header{
	
	font-family: 'Montserrat', serif; 
	font-weight: 500;
}

.graycolor{
	color:#656565;
}


.display-5{

	font-size: 1.10em;

}

.display-6{

	font-size: 1.25em;
}

h2{

	font-size: 1.5em;
    font-weight: normal;
}


h3 {
    font-size: 1.3em;
    font-weight: normal;
}


.projectHeader{
    
    background-color: #eee;
    margin: 0 0 30px 0;
    color: #333;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #ccc;
    
}


.badge { 

	font-weight: normal;

	}

.badge-warning {

	background-color: #fff;
	border: 2px solid #ffc107;
}

.badge-warning[href]:hover, .badge-warning[href]:focus {

	color: #fff;
}

.badge-info {

	background-color: #fff;
	border: 2px solid #17a2b8;
	color: #000;

}

.badge-success {

	background-color: #fff;
	border: 2px solid #28a745;
	color: #000;
}

.badge-danger {

	background-color: #fff;
	border: 2px solid #dc3545;
	color: #000;

}

.badge-secondary {

	background-color: #fff;
	border: 2px solid #6c757d;
	color: #000;

}


.navbar {
	font-size: 1.25em; 
	text-align: center; 
	padding: 10px 10px;
}


.bg-dark {
	background-color: #ececec !important;
}




.jumbotron {
	background-color: #fff;
    margin-bottom: 0;
    padding:0;
	height: 50%;

}


.lnheight {
	
	line-height: 1.5;
}

.lnheight2 {
	
	line-height: 1.75;
}


.linksweight{
	text-decoration: underline;
	font-weight: 700;
}



.bg1 {

  background-image: url("../images/01_IDeclare_bg.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
}

.bg2 {

  background-image: url("../images/02_uslbm_bg.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;

}

.bg3 {

  background-image: url("../images/03_manpower_bg.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;

}

.bg4 {

  background-image: url("../images/04_experis_bg.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;

}

.bg5 {

  background-image: url("../images/05_Campaign_studio_bg.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;

}

.bg6 {

  background-image: url("../images/06_Coffee_bg.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;

}


.bg7 {

  background-image: url("../images/07_blog.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;

}

.bg8 {

  background-image: url("../images/08_art.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;

}

.bgcolor{
	
	color: #fff;
	font-weight: 600;
}

.bgbox {
	
	border: 1px solid #fff;
	padding: 10px;
	border-radius: 10px;
	display: inline-block;
}



.jumbo {
	
	height: 50%
}



section.jumbo  div.jumbotron  div.container  p.lead  a {
    
    text-decoration: underline;
    color: #000;
}


.jumbotron .herotxt {
	color: #656565;
	min-height: 300px;

}

.jumbotron .herotxt1 {
	color: #656565;
	height: 400px;
}


.jumbotron h1.animated {
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}


.fontmedium{
	font-weight: 500;
}



.scrollFade {

  animation-duration: 2.5s;
  animation-iteration-count: infinite;

}


.lead {

	font-size: 1.5em;

}


.home-brand{

	font-size: 1.25em; 
	color: #656565; 
	margin-right: 50px;
}

.home-brand:visited, .home-brand:hover, .home-brand:active, .home-brand:link{

	text-decoration: none;
	 color: #000;
	font-weight: bold;

	}

.nav-link.active {

	font-weight: normal;
}


.hr {

	height: 1px;
	background-color: #919191;
	display: block; 
	margin: 20px 0 30px;
}

.hr1 {

	height: 1px;
	background-color: #ccc;
	display: block; 
	margin: 10px 0;
}


.videoimg{

	max-width:100%;
	height: auto;
}


.btn-info, .btn-info:hover {
	background-color: #1475dd;
    border-color: #1475dd;
    padding:7px 12px;
    font-size: 18px;
    font-weight: normal;
    border-radius: 0 ;
}



/*

.btn-gradient1, .btn-info:not(:disabled):not(.disabled):active {
   
background: #1475dd; /* Old browsers 
background: -moz-linear-gradient(top, #1475dd 0%, #631dd3 100%); /* FF3.6-15 
background: -webkit-linear-gradient(top, #1475dd 0%,#631dd3 100%); /* Chrome10-25,Safari5.1-6 
background: linear-gradient(to bottom, #1475dd 0%,#631dd3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 

}

*/


.btn-primary {
	
border-radius: .5em;	
background: #1E6EE6;
font-size: 1.25em;
border: 2px solid #fff;	
}

.btn-primary:hover {
	
border-radius: .5em;	
background: #0855C9; 
color:#fff;
border: 2px solid #fff;	
	
}


.btn-secondary {
	
border-radius: .5em;	
background: #729d40; 
font-size: 1.15em;
border:2px solid #466225;
	
}


.btn-secondary:hover {
	
border-radius: .5em;	
background: #7faf48; 
font-size: 1.15em;
border:2px solid #466225;
	
}





.btn-gradient1, .btn-info:not(:disabled):not(.disabled):active {
   
background: #FF2A19; 

}






.recentuts {

	color: #fff;
    min-height: 200px;
    padding:15px;
    margin:0;
}


.recentuts:hover {

	background-color: #648F33; 
}


.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 10rem;
}



.btn-light, .btn-light:hover {
	background-color: #1ABC9C;
	margin-top: 5px;
	padding:7px 12px;
    font-size: 18px;
    font-weight: normal;
    border-radius: 0 ;
    color: #fff;
}


/*

.btn-gradient2, .btn-light:not(:disabled):not(.disabled):active {

	color:#fff;

background: #21c8ce; /* Old browsers 
background: -moz-linear-gradient(top, #21c8ce 0%, #27c492 100%); /* FF3.6-15 
background: -webkit-linear-gradient(top, #21c8ce 0%,#27c492 100%); /* Chrome10-25,Safari5.1-6 
background: linear-gradient(to bottom, #21c8ce 0%,#27c492 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 

}


*/


.btn-gradient2, .btn-light:not(:disabled):not(.disabled):active {

	color:#fff;

background: #21c8ce; /* Old browsers */
	
	
}

.font-white{
	
	color: #fff;
}


.mycolorWhite{

	background-color: #fff; 
}

.mycolorGray1{
	background-color: #E7E7E7;
}


.mycolorLightblue{
	background-color: #EEF9FF;
}


.mycolorEarthdirt{
	background-color: #E29500;
}


.footerlinks {

  background-color: #42484E;
  color: #fff;  
  font-size: 16px;
  text-align: center;
}

.footerCopyrights {

	color: #fff;
	background-color: #0b151d;
	padding: 50px 0;
	font-size: 20px;
}


.footerlinks a {

	text-decoration:none;
	color: #fff;
	font-weight: normal;

}


.valignouter{

	display: table;
	height: 150px;	
	width: 100%;
}


.valignBottom{

	display: table-cell;
    vertical-align: bottom;

}


.valignTop{

	display: table-row;
    vertical-align: top;

}


.dropdown-menu{

 min-width: 100%;

}

.dropdown-item {

    padding: 15px 25px;
}


.hidediv {

	display:none;
}

.showdiv {

	display:block;
}


div.alertmsg {
	background-color: #DAB83F;
	margin: 20px auto;
	padding:15px;
	text-align: center;
}

div.link > a:hover {

	text-decoration: none;
}

.arrowlink {
	background: #7FAF48 url('../images/arrow_link.png') no-repeat left 15px top 20px;
} 




.ideclare{
	
	background-color: #8AC4ED;
	background-image: url(../images/id_1.png); 
	background-size:contain;
	background-repeat: no-repeat;
	background-position:center center;
	height: 450px;
	
}




.hema{
	background-color: #CEA1EB;
	background-image: url(../images/chatbot_hema.png);
	background-size:contain;
	background-repeat: no-repeat;
	background-position:center center;
	height: 450px;
	
}



.uslbm{
	
	background-color: #9ED6E8;
	background-image: url(../images/uslbm_banner.png); 
	background-size:contain;
	background-repeat: no-repeat;
	background-position:center center;
	height: 450px;
	

}


.manpower {
	
	background-color: #93a9b8;
	background-image: url(../images/manpower_banner.png); 
	background-size:contain;
	background-repeat: no-repeat;
	background-position:center center;
	height: 450px;
	

}


.experis {
	
	background-color: #C6DAE1;
	background-image: url(../images/experis_banner.png);  
	background-size:contain;
	background-repeat: no-repeat;
	background-position:center center;
	height: 450px;
	
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #073495; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 6px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}







/* media Query */




@media (min-width: 576px){


	
	.lead {
    font-size: 1.2em;

  }

}



@media (max-width: 576px){

  .display-3 {
    font-size: 1.75em;

  }
    

  .lead {
    font-size: 1.2em;

  }


/*

	.jumbotron {
	background: #1475DD url('../images/hero.png') no-repeat center;
}

*/

.primebutton {

	width: 100%;
}

}


@media (min-width: 576px) and (max-width: 768px) {
	
  .display-3 {
    font-size: 1.75em;
  }
    
    
 .lead {
    font-size: 1.2em;

  }


  .primebutton {

	width: 100%;
}

/*

	.jumbotron {
	background: #1475DD url('../images/hero.png') no-repeat center;
}

*/



}












@media (max-width: 768px) {



}


@media (min-width: 769px) {	


	/*

  	.jumbotron {
	background: #1475DD url('../images/hero_md.png') no-repeat center;

	
}

*/




}


@media (min-width: 768px) and (max-width: 991.98px) {	




}


@media (min-width: 993px) {	

	/*

	.jumbotron {
	background: #1475DD url('../images/hero_lg.png') no-repeat center;
}	

*/

.primebutton {

	width: 60%;
}

}


@media (min-width: 992px) and (max-width: 1279.99px) {


 .display-3 {
    font-size: 1.75em;
  }

}



@media (min-width: 1201px) {	

	/*

	.jumbotron {
	background: #1475DD url('../images/hero_xl.png') no-repeat center;
}

*/




}



@media (min-width: 1201px) and (max-width: 3000px) 

 { 

.nav-link {
         padding: 5px 20px;
         margin: 0 15px;
         color: #919191;
}



.nav-link.active {
         padding: 5px 20px;
         margin: 0 15px;
         background-color: #e3e3e3;
         color: #919191;
}



}







































